dialog.modal {
    background: lightgrey;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px darkslategrey;
    inset-inline-start: 0;
    height: 100%;
    margin: 0;
    min-width: 300px;
    max-width: 500px;
    transform: translateX(-500px);
    transition: transform 0.3s linear;

    &.open {
        transform: translateX(0);
    }
}

.modalClose {
    position: absolute;
    top: 10px;
    right: 10px;
}

form {
    margin-top: 75px;

    & > .nes-input {
        margin-bottom: 40px;
        width: 400px;
    }
}